
    /* Regole Generali */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

    /* Regole Header pagina*/

.row{
    display: flex;
    justify-content: center;
}

.colnav{
    flex-basis: calc(100%/3);
}

.colheader{
    flex-basis: 80%;
}

.debug .containernav{
    padding: 15px 100px;
    min-height: 90px;
    background-color: lightblue;
}

.debug .containerheader{
    padding: 20px 100px;
    min-height: 350px;
    background-color: blue;
}

.debug .colheader{
    min-height: 300px;
    border: 4px dashed black;
    background-color: palevioletred;
}

.debug .colnav{
    padding: 10px;
    border: 4px dashed black;
    background-color: orange;
}

    /* Regole Main pagina */

.colmain1{
    flex-basis: 70%;
}

.colmain2{
    flex-basis: 30%;
}

.colmain{
    flex-basis: 100%;
}

.containermain2 > .row {
    flex-direction: row-reverse;
}

.row > main{
    padding: 50px 5px 50px 5px;
}

.debug .containermain1,.containermain2,.containermain3,.containermain4{
    padding: 40px 100px;
    min-height: 450px;
    background-color: white;
}

.debug .containermain2,.containermain4{
    background-color: gray;
}

.debug .colmain1{
    padding: 10px;
    min-height: 380px;
    border: 4px dashed black;
    background-color: aqua;
}

.debug .colmain2{
    padding: 10px;
    min-height: 380px;
    border: 4px dashed black;
    background-color: pink;
}

.colmain{
    padding: 10px;
    min-height: 500px;
    border: 4px dashed black;
    background-color: aqua;
}

/* Regole footer pagina */

/* Prima sezione footer */

.coltag,.coltagt{
    flex-basis: calc(100%/5);
}

.coltagt{
    flex-basis: 40%;
}

.containertag > .row{
    flex-direction: row-reverse;
}

.debug .containertag{
    padding: 5px 100px 10px 100px;
    min-height: 300px;
    background-color: blue;
}

.debug .coltag{
    padding: 10px;
    min-height: 250px;
    border: 4px dashed white;
    background-color: rgb(8, 59, 59);
}

.debug .coltagt{
    padding: 10px;
    min-height: 250px;
    border: 4px dashed black;
    background-color: rgb(53, 8, 59);
}

/* Seconda sezione footer */

.rowlink{
    display: flex;
    justify-content: space-between;
}

.debug .containermainlink{
    padding: 10px 100px 0px 100px;
    min-height: 80px;
    border-top: 4px solid white;
    background-color: blue;
}

.debug .containerlink{
    padding: 10px 0px;
    min-height: 60px;
    background-color: gray;
}

.debug .collink{
    padding: 10px;
    min-height: 20px;
    border: 4px dashed black;
    background-color: rgba(145, 15, 172, 0.788);
}
