
    /* Regole Generali */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

img{
    max-width: 100%;
}

    /* Regole Header pagina*/
/* **Forse dovrai accentrare il main header */
.row{
    display: flex;
    justify-content: center;
}

.containernav > .row{
    justify-content: space-between;
    align-items: center;
}

.containernav{
    background-color: #2f52fffa;
}

.col-menu{
    color: white;
    margin: 5px;
}

.col-button{
  background-color: white;
  border-radius: 17px;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
}

.container-header{
    display: flex;
    align-items: center;
    color: white;
    background-image: url(../img/jumbo.png);
    height: 450px;
    background-size: cover;
}

.col-header > .col-button{
    display: inline-block;
    margin: 20px 0px;
    color: black;
}

.container-header > .row {
    align-items: center;
}

h1{
    font-size: 35px;
    margin: 20px 0px;
}

.col-header{
    text-align: center;
    flex-basis: 80%;
}

.debug .containernav{
    padding: 15px 100px;
    min-height: 90px;
}

.debug .containerheader{
    padding: 20px 100px;
    min-height: 350px;
    background-color: blue;
}

.debug .colheader{
    min-height: 300px;
    border: 4px dashed black;
    background-color: palevioletred;
}

.debug .colnav{
    padding: 10px;
    border: 4px dashed black;
    background-color: orange;
}

    /* Regole Main pagina */

.container-main1 > .row{
    align-items: center;
}

.container-main1,.container-main2{
    padding: 50px;
}

.container-main2 > .row{
    align-items: center;
    flex-direction: row-reverse;
}

.container-main2,.container-main4{
    background-color: gray;
}

.colmain-1{
    flex-basis: 70%;
}

.colmain-2{
    flex-basis: 30%;
}

.colmain{
    padding: 10px;
    min-height: 500px;
    border: 4px dashed black;
    background-color: aqua;
}

h2{
    font-size: 35px;
}

p {
    font-size: 15px;
}
.colmain{
    flex-basis: 100%;
}
/* *****forse da eliminare */
.row > main{
    padding 50px 5px 50px 5px;
}

.debug .containermain1,.containermain2,.containermain3,.containermain4{
    padding: 40px 100px;
    min-height: 450px;
    background-color: white;
}

.debug .colmain1{
    padding: 10px;
    min-height: 380px;
    border: 4px dashed black;
    background-color: aqua;
}

.debug .colmain2{
    padding: 10px;
    min-height: 380px;
    border: 4px dashed black;
    background-color: pink;
}

/* Regole footer pagina */

/* Prima sezione footer */

.coltag,.coltagt{
    flex-basis: calc(100%/5);
}

.coltagt{
    flex-basis: 40%;
}

.containertag > .row{
    flex-direction: row-reverse;
}

.debug .containertag{
    padding: 5px 100px 10px 100px;
    min-height: 300px;
    background-color: blue;
}

.debug .coltag{
    padding: 10px;
    min-height: 250px;
    border: 4px dashed white;
    background-color: rgb(8, 59, 59);
}

.debug .coltagt{
    padding: 10px;
    min-height: 250px;
    border: 4px dashed black;
    background-color: rgb(53, 8, 59);
}

/* Seconda sezione footer */

.rowlink{
    display: flex;
    justify-content: space-between;
}

.debug .containermainlink{
    padding: 10px 100px 0px 100px;
    min-height: 80px;
    border-top: 4px solid white;
    background-color: blue;
}

.debug .containerlink{
    padding: 10px 0px;
    min-height: 60px;
    background-color: gray;
}

.debug .collink{
    padding: 10px;
    min-height: 20px;
    border: 4px dashed black;
    background-color: rgba(145, 15, 172, 0.788);
}
